body {
  margin: 0;
  font-family: var(--bs-font-sans-serif);

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.center-select {
  text-align: center;             
  text-align-last: center;        
  -moz-text-align-last: center;   
}
.center-select option {
  text-align: center;             
}


:root{
  --bs-font-sans-serif: "Vazirmatn", system-ui, -apple-system, "Segoe UI",
                        Roboto, "Helvetica Neue", Arial, "Noto Sans",
                        "Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  --brand-navy: #1C1F33;
  --brand-navy-rgb: 28,31,51;

  /* برای input ها */
  --bs-form-control-focus-border-color: var(--brand-navy);
  --bs-form-control-focus-box-shadow: 0 0 0 .25rem rgba(var(--brand-navy-rgb), .25);

  /* برای select ها */
  --bs-form-select-focus-border-color: var(--brand-navy);
  --bs-form-select-focus-box-shadow: 0 0 0 .25rem rgba(var(--brand-navy-rgb), .25);
}


